<div>
  <div class="row">
    <div class="col-xs-12">
      <img [src]="receipe.imagePath" [alt]="receipe.name" style="width: 350px; height: 350px;">
    </div>
  </div>
  <div class="row">
    <div class="class-xs-12">
      <h1>{{receipe.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="class-xs-12">
      <div class="btn-group" appDropdown>
        <button type="button" class="btn btn-primary dropdown-toggle">Manage Receipe
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a (click)="OnShoppingListSelected()" style="cursor: pointer;">Shopping list</a>
          </li>
          <li>
            <a routerLink = "edit" style="cursor: pointer;">Edit Receipe</a>
          </li>
          <li>
            <a style="cursor: pointer;" >Delete Receipe</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{receipe.name}}
    </div>

    <div class="row">
      <div class="col-xs-12">
        {{receipe.description}}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let ingredient of receipe.ingredients">
            {{ingredient.name}} - ${{ingredient.amount}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>