<a style="cursor: pointer"
*ngIf = "editMode else newReceipe"
class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{receipe.name}}</h4>
    <p class="list-group-item-text">{{receipe.description}}</p>
    </div>
    <span class="pull-right">
      <!-- <img [src]="receipe.imagePath" alt="{{ receipe.name }}" class="img-responsive" style="max-height: 50px;"> -->
    </span>      
</a>

<ng-template #newReceipe>
    <div class="pull-left">
    <h4 class="list-group-item-heading">Receipe Name</h4>
    <p class="list-group-item-text">Receipe Description</p>
    </div>
    <span class="pull-right">
      <!-- <img [src]="receipe.imagePath" alt="{{ receipe.name }}" class="img-responsive" style="max-height: 50px;"> -->
      <img [src]="" alt="Receipe Image" class="img-responsive" style="max-height: 50px;"> 
    </span>      
</ng-template>